@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Lacquer&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Handlee", cursive;
}

body {
  margin: 0;
  background-color: black;
}

h1 {
  font-family: "Lacquer", cursive;
}
